mat-sidenav-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-toolbar {

  mat-icon.scan-icon {
    padding: 0 14px;
  }

  .spacer {
    flex: 1 1 auto;
  }
}
