<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>let's bet!</h1>
  <span class="spacer"></span>
  <a routerLink="scan" mat-icon-button>
    <mat-icon class="scan-icon" aria-hidden="false" aria-label="Scan QR Code">camera</mat-icon>
  </a>
</mat-toolbar>
<mat-sidenav-container (backdropClick)="sidenav.close()">
  <mat-sidenav #sidenav (keydown.escape)="sidenav.close()" disableClose>
    <mat-nav-list>
      <a mat-list-item routerLink="bet">
        <mat-icon mat-list-icon>message</mat-icon>
        <span mat-line>My Bets</span>
      </a>
      <a mat-list-item routerLink="participation">
        <mat-icon mat-list-icon>message</mat-icon>
        <span mat-line>My Participations</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
