<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step>
    <ng-template matStepLabel>Specify the rules</ng-template>
    <app-bet-form [bet]="bet" [disabled]="bet.isStarted || isCompleted()" #form>
      <button *ngIf="!bet.isStarted" mat-button color="primary" (click)="save()" [disabled]="form.form?.invalid">Save</button>
    </app-bet-form>
  </mat-step>
  <mat-step [completed]="bet.isStarted || isCompleted()">
    <ng-template matStepLabel>Start the bet</ng-template>
    <div *ngIf="bet.isStarted; else notStarted">
      <p>The bet has already been started.</p>
    </div>
    <ng-template #notStarted>
      <p>As soon as the bet is started, the rules can no longer be changed.</p>
      <button mat-raised-button color="primary" (click)="start()">Start</button>
    </ng-template>
  </mat-step>
  <mat-step [completed]="bet.isStarted || isCompleted()">
    <ng-template matStepLabel>Invite participants</ng-template>
    <app-bet-qrcode [bet]="bet"></app-bet-qrcode>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Decide who won</ng-template>
    <app-bet-result-form [bet]="bet" [disabled]="isCompleted()"></app-bet-result-form>
  </mat-step>
</mat-vertical-stepper>
